@font-face {
  font-family: "Graphik LCG";
  src: url("GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"),
    url("GraphikLCG-Regular.woff2") format("woff2"),
    url("GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("GraphikLCG-Medium.eot");
  src: local("Graphik LCG Medium"), local("GraphikLCG-Medium"),
    url("GraphikLCG-Medium.woff2") format("woff2"),
    url("GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("GraphikLCG-Semibold.eot");
  src: local("Graphik LCG Semibold"), local("GraphikLCG-Semibold"),
    url("GraphikLCG-Semibold.woff2") format("woff2"),
    url("GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: "Graphik LCG", sans-serif;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #f9f3e7;
}

h1,
h2,
h3 {
  margin: 0;
}

.list-reset {
  list-style: none;
}

/* The sidebar menu */
.sidenav {
  display: flex;
  justify-content: flex-end;
  min-height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 280px;
  /* Set the width of the sidebar */
  /*position: fixed;*/
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #f9f3e7;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

/* .sidenav:before {
  content: "";
  position: absolute;
  left: calc(50% - 320px);
  top: 0;
  height: calc(100% + 300px);
  z-index: 100;
  border-right: 1px solid #a25945;
} */

/* The navigation menu links */
.sidenav__link {
  position: relative;
  padding: 19px 40px 20px 93px;
  text-decoration: none;
  font-weight: 400;
  line-height: 18px;
  font-size: 18px;
  color: #000000;
  display: block;
  font-style: normal;
  transition: 0.3s ease-in;
}

.sidenav__link--0::after,
.sidenav__link--1::after,
.sidenav__link--2::after,
.sidenav__link--3::after {
  content: "";
  position: absolute;
  top: calc(50% - 19px);
  right: 200px;
  z-index: 2;
  width: 37px;
  height: 37px;
  background-repeat: no-repeat;
  background-color: #e1dac5;
  border-radius: 50%;
  background-position: center;
}

.sidenav__link--0::after {
  background-image: url(../img/main/Group5.svg);
}

.sidenav__link--1::after {
  background-image: url(../img/main/orders.png);
}

.sidenav__link--2::after {
  background-image: url(../img/main/buy.png);
}

.sidenav__link--3::after {
  background-image: url(../img/main/chat.png);
}

.sidenav__link.current {
  position: relative;
  left: 30px;
  color: #fff;
  background-color: #a25945;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  transition: 0.3s ease-in;
}

.sidenav__link:hover {
  position: relative;
  left: 30px;
  color: #fff;
  background-color: #a2594589;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  transition: 0.3s ease-in;
}

.header__btn {
  padding: 16px 40px 16px 64px;
  border: none;
  outline: none;
  border-radius: 10px;
  position: relative;
  right: -45px;
  margin-top: 130px;
  background-color: #e1dac5;
}

.header__btn::after {
  content: "";
  position: absolute;
  right: calc(100% - 45px);
  z-index: 2;
  width: 21px;
  height: 21px;
  background-image: url(../img/main/tel.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav__link {
    font-size: 18px;
  }
}

/* header */
.header {
  padding: 0;
  background-color: #e1dac5;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  color: #000000;
}

.header__align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding-right: 60px;
  margin-left: 68px;
}

.top-menu__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  position: relative;
  padding: 20px;
}

.top-menu__link--list,
.top-menu__link--notific {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  position: relative;
  padding: 20px;
  background-image: url(../img/main/list.svg);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 60px;
  transition: 0.3s ease-in;
}

.top-menu__link--notific {
  background-image: url(../img/main/notification.svg);
}

.top-menu__link.current,
.top-menu__link:hover {
  position: relative;
  /*  left: 30px; */
  color: #fff;
  background-color: #a25945;
  border-radius: 0 100px 100px 0;
  transition: 0.3s ease-in;
}

.top-menu__item:not(:last-child) {
  margin-right: 60px;
}

/*  */
/* footer */
.footer {
  background-color: #a25a45;
  padding: 45px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer__align-center {
  align-items: center;
}

/*  */
/* grid */
.body {
  display: grid;
  grid-template-columns: 1fr;
  /* min-height: 100vh; */
}

.header {
  grid-column: 1/-1;
}

.aside {
  grid-column: 1/2;
}

.main-page {
  grid-column: 1/-1;
}

.footer {
  grid-column: 1/-1;
}

.main-page__grid {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.main {
  grid-column: 2/-1;
  padding: 30px 0px 0 20px;
  position: relative;
  min-height: 100vh;
}

.main:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  height: calc(100% + 200px);
  z-index: 100;
  border-right: 1px solid #a25945;
}

/*  */
.banner {
  min-height: 307px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buying {
  margin-bottom: 80px;
}

.checkout {
  margin-bottom: 80px;
}

.buying__title,
.shops__title,
.checkout__title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  /* identical to box height */
  color: #000000;
}

.checkout__title {
  margin-bottom: 40px;
}

.buying__title {
  margin-bottom: 40px;
}

.shops__title {
  margin-bottom: 25px;
}

.buying__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.buying__item-title-1,
.buying__item-title-2,
.buying__item-title-3,
.buying__item-title-4,
.buying__item-title-5,
.buying__item-body {
  display: block;
  max-width: 180px;
  min-width: 130px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.buying__item-title-1,
.buying__item-title-2,
.buying__item-title-3,
.buying__item-title-4,
.buying__item-title-5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #a25945;
  margin-bottom: 45px;
  position: relative;
}

.buying__item-title::after {
  content: url(../img/main/step.svg);
  position: absolute;
  bottom: calc(100% - 50px);
  left: calc(50% - 12px);
}

.buying__item-title-1::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 35px);
  left: calc(64%);
  height: 1px;
  width: 75%;
  background-color: #e1dac5;
}

.buying__item-title-2::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 35px);
  left: calc(70%);
  height: 1px;
  width: 102%;
  background-color: #e1dac5;
}

.buying__item-title-3::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 35px);
  left: calc(65%);
  height: 1px;
  width: 74%;
  background-color: #e1dac5;
}

.buying__item-title-4::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 35px);
  left: calc(70%);
  height: 1px;
  width: 90%;
  background-color: #e1dac5;
}

.buying__item-title-5::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 35px);
  left: calc(70%);
  height: 1px;
  width: 90%;
  background-color: #e1dac5;
}

.shops {
  margin-bottom: 80px;
}

.buying__item:last-child .buying__item-title::before {
  background-color: transparent;
}

/* Заказы */

.orders {
  margin-bottom: 60px;
}

.orders__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders__form-top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.orders__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}

.orders__form-link {
  margin-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #a25945;
  text-decoration: none;
}

.orders__form select {
  color: #92a0a5;
  min-width: 150px;
  border: none;
  border-bottom: 1px solid #92a0a5;
  background-color: transparent;
  appearance: none;
  position: relative;
  background: url(../img/main/arow-form.svg) no-repeat right center;
  cursor: pointer;
}

.orders__form select:nth-child(1) {
  max-width: 290px;
  width: 100%;
  margin-right: 21px;
}

.orders__form-bottom {
  display: inline;
}

.orders__form select:nth-child(2) {
  max-width: 160px;
  width: 100%;
}

.orders__form select:nth-child(3) {
  max-width: 160px;
  width: 100%;
  margin-right: 21px;
}

.orders__form input {
  margin-right: 22px;
  border: none;
  border-bottom: 1px solid #92a0a5;
  background-color: transparent;
  color: #92a0a5;
  cursor: pointer;
}

.orders__form input:focus {
  outline: unset;
}

.orders__form-btn {
  position: relative;
  top: -15px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  background-color: #3e5b75;
  border-radius: 50px;
  padding: 15px 53px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.orders__form-btn:hover {
  background-color: #a25945;
  transition: 0.3s ease-in;
}

.shops__flex span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 109%;
  /* or 15px */
  color: #606060;
}

.shops__form,
.appeals__form {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 40px;
  align-items: flex-end;
}

.shops__form-label {
  display: block;
  color: #a25945;
  margin-right: 37px;
}

.shops__form select,
.editing__form select,
.appeals__form select {
  color: #92a0a5;
  min-width: 150px;
  border: none;
  border-bottom: 1px solid #92a0a5;
  background-color: transparent;
  padding: 5px 0;
  appearance: none;
  position: relative;
  background: url(../img/main/arow-form.svg) no-repeat right center;
  cursor: pointer;
}

.shops__form select:focus,
.editing__form select:focus,
.appeals__form select:focus,
.orders__form select:focus {
  outline: unset;
}

.shops__form select:nth-child(1) {
  max-width: 235px;
  width: 100%;
}

.shops__form select:nth-child(2) {
  max-width: 187px;
  width: 100%;
}

#checkout__Additionally {
  max-width: 602px;
  width: 100%;
}

.sign-in__form input,
.shops__form input,
.editing__form input,
.appeals__form input {
  border: none;
  border-bottom: 1px solid #92a0a5;
  background-color: transparent;
  padding: 5px 0;
  color: #92a0a5;
  cursor: pointer;
}

.sign-in__form input:focus,
.shops__form input:focus,
.editing__form input:focus,
.appeals__form input:focus {
  outline: unset;
}

.shops__form input {
  max-width: 204px;
  width: 100%;
}

.shops__form input:nth-child(5) {
  max-width: 300px;
  width: 100%;
}

.shops__form input:nth-child(6) {
  max-width: 591px;
  width: 100%;
}

.sign-in__form input::placeholder,
.shops__form input::placeholder,
.editing__form input::placeholder,
.appeals__form input::placeholder {
  color: #92a0a5;
}

.form-btn,
.sign-in__form .form-btn,
.shops__form .form-btn,
.editing__form .form-btn {
  color: #fff;
  font-size: 18px;
  background-color: #3e5b75;
  border-radius: 50px;
  padding: 23px 75px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.form-btn:hover {
  background-color: #a25945;
  transition: 0.3s ease-in;
}

.shops__logo-shops {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}

.logo-shops__card {
  width: 210px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.banner-bottom__backgroung {
  padding: 144px 183px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

/*  */
/* sign-in */
.sign-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.5);
  z-index: 200;
}

.sign-in__container {
  position: relative;
  top: calc(50vh - 200px);
  margin: 0 auto;
  max-width: 615px;
  background-color: #fff;
  border-radius: 3px;
}

.sign-in__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1dac5;
  padding: 30px;
  border-radius: 3px;
}

.sign-in__btn {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(../img/main/close.svg);
}

.sign-in__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.sign-in__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  align-items: center;
  padding: 5px 30px 50px 30px;
}

.sign-in__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #a25945;
  text-decoration: none;
  border-bottom: 1px dashed #a25945;
}

/* find-and-buy */
.find-and-buy {
  background-image: url(../img/main/findBay.svg);
  background-repeat: no-repeat;
  background-position: right -11px top 16px;
  height: 100%;
}

.find-and-buy__title {
  max-width: 710px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 10px;
}

.find-and-buy__descr {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 25px;
}

.find-and-buy__link {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  color: #a25945;
  padding: 15px 24px;
  border: 1px solid #a25945;
  border-radius: 50px;
  margin-right: 30px;
}

.find-and-buy__link--telegram {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  color: #3e5b75;
  padding: 15px 24px 15px 60px;
  border: 1px solid #3e5b75;
  border-radius: 50px;
  background-image: url(../img/main/telegramm.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
}

.find-and-buy__link:hover {
  background-color: #a25945;
  color: #fff;
  transition: 0.3s ease-in;
}

/*  */

/* Wish list */

.wish-list__main {
  padding-left: 15px;
  padding-top: 30px;
}

.wish-list__content-top {
  display: flex;
  justify-content: space-between;
}

.wish-list__title,
.title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}

.wish-list__link,
.orders__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #3e5b75;
}

.wish-list__link:hover,
.orders__link:hover,
.orders__form-link:hover {
  font-weight: 500;
  color: #4f7fa9;
}

.wish-list__content-bottom {
  display: flex;
  flex-wrap: wrap;
}

.wish-list__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 265px;
  min-height: 260px;
  padding-bottom: 27px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #f9f3e7;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.1);
  text-decoration: none;
  transition-duration: 0.3s;
}

.wish-list__card:hover {
  transform: scale(1.025);
  transition-duration: 0.3s;
  filter: grayscale(0.5);
}

.wish-list__card:nth-child(3n) {
  margin-right: unset;
}

.wish-list__card-title {
  width: 68%;
  padding: 15px 60px 15px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  background-color: #e1dac5;
  border-radius: 10px 10px 0px 0px;
}

.wish-list__card-img {
  margin-bottom: 5px;
}

.wish-list__card-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

/* Обращения */

.appeals__main {
  padding-left: 25px;
  padding-top: 40px;
}

.appeals__content {
  display: inline-block;
  justify-content: space-between;
}

.appeals__form select {
  max-width: 68%;
  width: 100%;
}

.appeals__link {
  padding: 15px 42px 15px 43px;
  background-color: #3e5b75;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in;
}

.appeals__link:hover {
  background-color: #a25945;
  transition: 0.3s ease-in;
}

/* Уведомления */

.notifications__main {
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 350px;
}

.notifications__title {
  margin-bottom: 35px;
}

.notifications__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  margin-bottom: 24px;
  border-bottom: 1px solid #3e5b75;
}

.notifications__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}

.notifications__item:nth-child(2) {
  margin-left: auto;
}

.notifications__item:nth-child(3) {
  margin-left: 73px;
}

.notifications__list-product {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 21px 20px;
  margin-bottom: 15px;
  background-color: #e1dac5;
}

.notifications__item-product {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}

.notifications__item-product:nth-child(2) {
  margin-left: auto;
}

.notifications__item-product:nth-child(3) {
  margin-left: 40px;
}

.notifications__list-product-read {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 21px 20px;
  margin-bottom: 15px;
  background-color: #fff;
}

.notifications__item-product-read {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}

.notifications__item-product-read:nth-child(2) {
  margin-left: auto;
}

.notifications__item-product-read:nth-child(3) {
  margin-left: 40px;
}

/* Контакты */

.contacts__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}

.contacts__form {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 40px;
  align-items: flex-end;
}

.contacts__form input {
  border: none;
  border-bottom: 1px solid #92a0a5;
  background-color: transparent;
  padding: 5px 0;
  color: #92a0a5;
  cursor: pointer;
}

.contacts__form input:focus {
  outline: unset;
}

.contacts__form input:nth-child(1) {
  max-width: 400px;
  width: 100%;
}

.contacts__form input:nth-child(2) {
  max-width: 210px;
  width: 100%;
}

.contacts__form input:nth-child(3) {
  max-width: 210px;
  width: 100%;
}

.contacts__form input:nth-child(4) {
  max-width: 562px;
  width: 100%;
}

/* редактирование данных */

.editing {
  margin-bottom: 100px;
}

.editing__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}

.editing__content {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.editing__content-left {
  margin-right: 40px;
}

.editing__file {
  visibility: hidden;
}

.editing__content-left label {
  position: relative;
  padding: 10px 0 0 0;
  width: 235px;
  height: 203px;
  background-color: #e1dac5;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
}

.editing__file-plus {
  position: relative;
  top: 42px;
  display: block;
  height: 77px;
  width: 77px;
  background-image: url(../img/main/plus.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.editing__file-title {
  position: relative;
  top: 58px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.editing__content-right {
  display: flex;
  flex-wrap: wrap;
}

.editing__form input:nth-child(1) {
  max-width: 235px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 40px;
}

.editing__form input:nth-child(2) {
  max-width: 340px;
  width: 100%;
  margin-bottom: 40px;
}

.editing__form select {
  max-width: 235px;
  width: 100%;
  margin-right: 30px;
}

.editing__form input:nth-child(4) {
  max-width: 340px;
  width: 100%;
}

.editing__content-place {
  display: flex;
  align-items: baseline;
}

.editing__subtitle {
  margin-right: 25px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}

.editing__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #92a0a5;
}

#editing__country {
  max-width: 425px;
  width: 100%;
  margin-left: 12px;
}

#editing__city {
  max-width: 437px;
  width: 100%;
}

#editing__street {
  max-width: 500px;
  width: 100%;
  margin-right: 30px;
  margin-left: 12px;
}

#editing__house {
  max-width: 166px;
  width: 100%;
  margin-right: 30px;
}

#editing__apartment {
  max-width: 166px;
  width: 100%;
}

.mb-80 {
  margin-bottom: 80px;
}

#editing__mail {
  max-width: 269px;
  width: 100%;
  margin-left: 12px;
}

#editing__phone {
  max-width: 281px;
  width: 100%;
  margin-right: 30px;
}

#editing__login-telegram {
  max-width: 281px;
  width: 100%;
  margin-bottom: 40px;
}

#editing__mail-authorization {
  max-width: 410px;
  width: 100%;
}

#editing__phone-authorization {
  max-width: 410px;
  width: 100%;
}

#editing__resend {
  max-width: 410px;
  width: 100%;
  margin-bottom: 80px;
  margin-left: 12px;
}

.editing__cont-contact {
  max-width: 380px;
}

.editing__mail-cont {
  position: relative;
}

.editing__mail-icon {
  position: absolute;
  top: 9px;
  left: 230px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #a25945;
  text-decoration: none;
}

.editing__mail-icon:hover {
  color: #4f7fa9;
}

.editing__mail-icon::after {
  content: url(../img/edit/Group35.svg);
  position: absolute;
  left: 104px;
  z-index: 2;
  width: 20px;
  height: 15px;
}

.editing__tel-cont {
  position: relative;
}

.editing__tel-icon {
  position: absolute;
}

.editing__tel-icon::after {
  content: url(../img/edit/Vector.svg);
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 15px;
  text-decoration: none;
}

#editing__resend {
  max-width: 494px;
  width: 100%;
  margin-bottom: 110px;
}

#editing__new-password {
  max-width: 431px;
  width: 100%;
  margin-right: 30px;
  margin-left: 12px;
}

#editing__re-password {
  max-width: 431px;
  width: 100%;
}

.editing__form-btn {
  max-width: 335px;
  width: 100%;
}

/* Заказы в работе */

.orders__job {
  margin-bottom: 100px;
}

.orders__content {
  margin-bottom: 38px;
}

.orders__cont-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px 17px 30px;
  background-color: #E1DAC5;
  border-radius: 10px 10px 0px 0px;
}

.orders__card {
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.1);
}

.orders__name {
  margin-right: auto;
  font-weight: 400;
  font-size: 20px;
  font-size: 20px;
}

#orders__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.orders__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.orders__cont-info {
  display: flex;
  justify-content: space-between;
  padding: 19px 30px;
}

.orders__cont-info-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 18px;
}

.orders__number,
.orders__number-text,
.orders__size,
.orders__size-text,
.orders__color,
.orders__color-text,
.orders__comment,
.orders__comment-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.orders__number,
.orders__size,
.orders__color {
  margin-right: 30px;
}

.orders__comment {
  margin-bottom: 18px;
}

.orders__date,
.orders__date-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #92A0A5;
}

.orders__cont-img {
  max-height: 106px;
  max-width: 106px;
  object-fit: cover;
  object-position: center;
}

.mr-30 {
  margin-right: 30px;
}

.orders__cont-btn {
  display: flex;
  justify-content: flex-start;
}

/* Заказы отправленные */

.orders__status {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.orders__status-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.align-items {
  align-items: center;
}